<% include ./partials/header %>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="himbutton.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<br>

    <div class="container">
      <h2 class="heading">Computer Science and Engineering</h2>
        <div class="sem1">
            <div class="header1 header">
                <h2>Semester 1</h2>
            </div>
            <div class="content">
                <a href="/cse/applied_physics-1" class="btn btn-outline-primary btn-lg "><b>Applied Physics-I</b></a>
                <a href="/cse/applied_mathematics-1" class="btn btn-outline-primary btn-lg"><b>Applied Mathematics-I</b></a>
                <a href="/cse/applied_chemistry-1" class="btn btn-outline-primary btn-lg"><b>Applied Chemistry -I</b></a>
                <a href="/cse/communication_skills-1" class="btn btn-outline-primary btn-lg"><b>Communiction Skills-I</b></a>
                <a href="/cse/intro_to_C" class="btn btn-outline-primary btn-lg"><b>Introduction to computer and programming in C</b></a>
                <a href="/cse/elements_of_mech_eng" class="btn btn-outline-primary btn-lg"><b>Elements of Mechanical Engineering</b> </a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Phyics Lab -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Chemistry Lab -I</b></a>
                <a href="/cse/computer_programming" class="btn btn-outline-primary btn-lg"><b>Computer and Programming Lab</b> </a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Workshop</b></a>
            </div>
         </div>
        <div class="sem2">
            <div class="header2 header">
                <h2>Semester 2</h2>
            </div>
            <div class="content">
                <a href="#" type ="button"class="btn btn-outline-secondary btn-lg"><b>Applied Physics-II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Applied Mathematics-II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Environmental Science</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Electrical Science</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Engineering Mechanics</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Communiction Skills-II</b> </a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Applied Phyics Lab -II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Environmental Science Lab </b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Electrical Science Lab </b> </a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Engineering Graphics </b></a>
            </div>
        </div>
        
        <div class="sem3">
            <div class="header3 header">
                <h2>Semester 3</h2>
            </div>
            <div class="content">
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Discrete Mathematics                         </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Database Management Systems</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Data Structures                            </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Object Oriented Programming</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Analog & Digital Electronics </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Database Management Systems Lab </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Data structure Lab</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Object Oriented Programming using C++ and JAVA Lab</b> </a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Analog & Digital Electronics Lab </b></a>
            </div>
      </div>
        <div class="sem4">
            <div class="header4 header">
                <h2>Semester 4</h2>
            </div>
            <div class="content">
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Advance Engineering Mathematics</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Computer Organisation & Architecture</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Analysis & Design of Algorithm</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Operating System </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b> Object Oriented Software Engineering  </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Computer Organisation & Architecture Lab</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Analysis & Design of Algorithm Lab b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Operating System Lab(Using LINUX as case study)</b> </a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Object Oriented Software Engineering Lab </b></a>
          </div>
        </div>
                 <div class="sem5">
                  <div class="header5 header">
                <h2>Semester 5</h2>
              </div>
              <div class="content">
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Theory Of Computation</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Computer Graphics & Multimedia </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Microprocessors and Microcontrollers</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Data Communication & Computer Networks</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Data Warehousing & Data Mining </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Human Values & Professional Ethics </b> </a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Computer Graphics & Multimedia Lab </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Microprocessor & Microcontroller lab </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"s><b>Data Warehousing & Data Mining Lab  </b></a>
      </div>
    </div>
        <div class="sem6">  
            <div class="header6 header">
              <h2>Semester 6</h2>
          </div>
            <div class="content">
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Compiler Design </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Network Programming</b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Cloud Computing</b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Artificial Intelligence </b></a>
            <a href = "#"type="button"  class="btn btn-outline-info btn-lg" ><b>Engineering Economics  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Mobile Architecture & Programming Lab </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Compiler Design lab</b> </a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Network Programming Lab </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Cloud Computing Lab  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Artificial Intelligence  Lab  </b></a>
        </div>
    </div>
</body>
</html>
<% include ./partials/footer %>