<% include ./partials/header %>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="himbutton.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<br>

    <div class="container">
      <h2 class="heading">Mechanical and Automation Engineering</h2>
        <div class="sem1">
            <div class="header1 header">
                <h2>Semester 1</h2>
            </div>
            <div class="content">
                <a href="#" class="btn btn-outline-primary btn-lg "><b>Applied Physics-I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Mathematics-I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Chemistry -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Communiction Skills-I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Introduction to computer and programming in C</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Elements of Mechanical Engineering</b> </a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Phyics Lab -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Chemistry Lab -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Computer and Programming Lab</b> </a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Workshop</b></a>
            </div>
         </div>
        <div class="sem2">
            <div class="header2 header">
                <h2>Semester 2</h2>
            </div>
            <div class="content">
                <a href="#" type ="button"class="btn btn-outline-secondary btn-lg"><b>Applied Physics-II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Applied Mathematics-II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Environmental Science</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Electrical Science</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Engineering Mechanics</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Communiction Skills-II</b> </a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Applied Phyics Lab -II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Environmental Science Lab </b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Electrical Science Lab </b> </a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Engineering Graphics </b></a>
            </div>
        </div>
        
        <div class="sem3">
            <div class="header3 header">
                <h2>Semester 3</h2>
            </div>
            <div class="content">
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Numerical Analysis and Programming </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Electronics </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Mechanics of Solids</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Production Technology</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Mechanics of Fluids </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Electronics lab </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Mech. of solids/Fluids mechanics lab</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Mechanical Engineering Drawing Lab</b> </a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Programming-I (Numerical Analysis) </b></a>
            </div>
      </div>
        <div class="sem4">
            <div class="header4 header">
                <h2>Semester 4</h2>
            </div>
            <div class="content">
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Kinematics and Dynamics of machines</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Heat transfer</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Manufacturing Machines</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Electrical Machines</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Operation Research   </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>LAN and networking</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>KOM/DOM lab <b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Machine Shop lab</b> </a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Electrical Machines</b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Programming - II lab(Operation Research)</b> </a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>LAN and networking lab</b></a>
          </div>
        </div>
                 <div class="sem5">
                  <div class="header5 header">
                <h2>Semester 5</h2>
              </div>
              <div class="content">
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Microprocessors and Applications </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Machine Design - I  </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Material Science and Metallurgy</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Measurement and Controls </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Database Management Systems </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Microprocessors & Applications Lab </b> </a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Machine Design-I Lab</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Measurement & Controls Lab</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Programming =III lab(MATLAB)   </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Database Management Systems Lab </b></a>
      </div>
    </div>
        <div class="sem6">  
            <div class="header6 header">
              <h2>Semester 6</h2>
          </div>
            <div class="content">
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Management of Manufacturing System  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Machine Design -II  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Metrology  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Fluid Systems</b></a>
            <a href = "#"type="button"  class="btn btn-outline-info btn-lg" ><b>Metal Cutting & Tool Design b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Machine Design -II Lab  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Metrology Lab </b> </a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Fluid Systems Lab</b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Metal Cutting & Tool Design  lab  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Prog.IV Lab  </b></a>
        </div>
    </div>
</body>
</html>
<% include ./partials/footer %>