<% include ./partials/header %>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="himbutton.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<br>

    <div class="container">
      <h2 class="heading">Electronics and Communication Engineering</h2>
        <div class="sem1">
            <div class="header1 header">
                <h2>Semester 1</h2>
            </div>
            <div class="content">
                <a href="#" class="btn btn-outline-primary btn-lg "><b>Applied Physics-I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Mathematics-I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Chemistry -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Communiction Skills-I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Introduction to computer and programming in C</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Elements of Mechanical Engineering</b> </a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Phyics Lab -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Applied Chemistry Lab -I</b></a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Computer and Programming Lab</b> </a>
                <a href="#" class="btn btn-outline-primary btn-lg"><b>Workshop</b></a>
            </div>
         </div>
        <div class="sem2">
            <div class="header2 header">
                <h2>Semester 2</h2>
            </div>
            <div class="content">
                <a href="#" type ="button"class="btn btn-outline-secondary btn-lg"><b>Applied Physics-II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Applied Mathematics-II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Environmental Science</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Electrical Science</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Engineering Mechanics</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Communiction Skills-II</b> </a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Applied Phyics Lab -II</b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Environmental Science Lab </b></a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Electrical Science Lab </b> </a>
                <a href="#" type="button"class="btn btn-outline-secondary btn-lg"><b>Engineering Graphics </b></a>
            </div>
        </div>
        
        <div class="sem3">
            <div class="header3 header">
                <h2>Semester 3</h2>
            </div>
            <div class="content">
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Numerical Methods</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Signal & Systems</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Network Analysis and Synthesis </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Analog Electronics -I</b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Object Oriented Programming </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Numerical Method Lab  </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Signal & Systems Lab </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Network Analysis and Synthesis Lab </b> </a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Analog & Digital Electronics Lab </b></a>
                <a href="#" type="button"class="btn btn-outline-success btn-lg"><b>Object Oriented Programming ( Using C++ & JAVA ) Lab </b></a>
            </div>
      </div>
        
                 <div class="sem4">
                  <div class="header4 header">
                <h2>Semester 4</h2>
              </div>
              <div class="content">
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Analog Electronics =II </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Digital Circuits & systems </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Communication Systems </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Data Structures Using C++ </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b> Transmission Lines and Antennas  </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Analog Electronics -II Lab </b> </a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Digital Circuits & Systems Lab </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Communication Systems Lab </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Mini Project </b></a>
            <a href = "#" type="button"class="btn btn-outline-danger btn-lg"><b>Data Structures Lab </b></a>
      </div>
    </div>
    <div class="sem5">
            <div class="header5 header">
                <h2>Semester 5</h2>
            </div>
            <div class="content">
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Digital Systems Design & VHDL </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Advanced Communication Systems </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Microprocessor & Microcontroller</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Control Engineering  </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b> Electronic Measurement & Instrumentation  </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Human Values & Professional Ethics </b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Digital Systems Design  Lab </b> b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Adanced Communication Systems  Lab </b> </a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Microprocessor & Microcontroller lab  </</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Control Engineering Lab </</b></a>
            <a href = "#" type="button"class="btn btn-outline-warning btn-lg"><b>Electronic Measurement & Instrumentation  Lab  </</b></a>
          </div>
        </div>
        <div class="sem6">  
            <div class="header6 header">
              <h2>Semester 6</h2>
          </div>
            <div class="content">
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Microwave & Radra Engineering</b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Information Theory & Coding  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>VLSI Design </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Data Communication & Networking </b></a>
            <a href = "#"type="button"  class="btn btn-outline-info btn-lg" ><b>Digital Signal Processing and its Applications </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Engineering Economics  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Microwave & Radar Engineering Lab  </b> </a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Information THeory & Coding  Lab  </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>  VLSI Design lab </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b> Data Communication & Networking   Lab   </b></a>
            <a href = "#" type="button" class="btn btn-outline-info btn-lg" ><b>Digital Signal Processing and its applications Lab   </b></a>
        </div>
    </div>
</body>
</html>
<% include ./partials/footer %>